<!DOCTYPE html>
<html lang="en">
<head>
    {% if not DEBUG %}
    <script>
        window.dataLayer = window.dataLayer || [];
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })
        (window, document, 'script', 'dataLayer', 'GTM-NHZW88T');
    </script>
    {% endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    {% load static %}
    {% load tailwind_tags %}
    {% tailwind_preload_css %}
    {% tailwind_css %}
    <link rel="license" href="{% static 'LICENSE' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'vmun/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mdb/css/mdb.min.css' %}">

    <title>{% block title %}VMUN by ValidebagMUN{% endblock %}</title>
</head>
<body>
    {% if not DEBUG %}
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHZW88T" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    {% endif %}

    <header>
        {% block navbar %}{% include 'nav/navbar_public.html' %}{% endblock %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

    {% block footer%}{% include 'footer.html' %}{% endblock %}

    <script src="{% static 'jquery/jquery-3.6.3.min.js' %}"></script>
    <script src="{% static 'popper/popper.min.js' %}"></script>
    <script src="{% static 'fontawesome/js/all.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mdb/js/mdb.min.js' %}"></script>
</body>
</html>